.card {
  margin-bottom: 5rem;
  background-color: #fff;
  width: 100%;
  padding: 2rem 0 1.5rem 0;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 0px rgba(128,128,128,0.2);

  .card__title {
    margin: 2rem 0 .5rem 0;
    font-size: 22px;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
  }

  .card__text {
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    line-height: 1.4rem;
  }

  .card__dotted-line {
    margin: 2rem 0 1.2rem 0;
  }

  .card__btn {
    width: 70%;
    height: 42px;
    background-color: #5366DE;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.2),
      inset 0px 0px 18px 0px rgba(128,128,128,0.1);

  }
}
