@media screen and (min-width: 768px) {
  .container__header {
    .header__menu {
      display: initial;
      padding-top: 0;
      position: initial;
      width: 66%;
      height: auto;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: 4;
      opacity: 0.96;

      .menu__list {
        display: flex;
        justify-content: space-between;

        width: 100%;

        .list__link {
          color: #3A3B40;
          font-size: 18px;

          .list__item {
            border: none;
          }
        }
      }

    }
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    padding: 3rem 4.5rem;

    .header__menu {
      width: 50%;

      .menu__list {
        align-items: center;

        .list__link {
          .list__item {
            padding: 0;
          }
        }

        .list__link:hover {
          color: #C67073;
        }

        .link__login {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 112px;
          height: 40px;
          transition: .05s all;

          border-radius: 6px;
          background-color: #DD6565;
          color: #FFE6E3;
        }

        .link__login:hover {
          background-color: transparent;
          border: 2px solid #DD6565;
          color: #DD6565;
        }
      }
    }
  }
}
