<section class="features__section" id="features">
  <h2 class="features__title">Características</h2>
  <p class="features__text">Nosso objetivo é tornar mais rápido e fácil para você acessar seus sites favoritos. Sua sincronização de favoritos entre seus dispositivos para que você possa acessá-los em qualquer lugar.</p>
  <ul class="features__list">
    <li class="list__item">Um simples bookmark</li>
    <li class="list__item">Pesquisa rápida</li>
    <li class="list__item last-item">Compartilhamento fácil</li>
  </ul>
</section>
<section class="features__content">
  <app-features-itens></app-features-itens>
</section>
