<section class="features__section">
  <h1 class="features__title">Características</h1>
  <p class="features__text">Nosso objetivo é tornar mais rápido e fácil para você acessar seus sites favoritos. Sua sincronização de favoritos entre seus dispositivos para que você possa acessá-los em qualquer lugar.</p>
  <ul class="features__list">
    <li class="list__item">Um simples bookmark</li>
    <li class="list__item">Pesquisa rápida</li>
    <li class="list__item last-item">Compartilhamento fácil</li>
  </ul>
</section>
