<section class="download__section">
  <h2 class="download__title">Baixe a extensão</h2>
  <p class="download__text">Temos mais navegadores no pipeline. Por favor, deixe-nos saber se você tem um favorito que você gostaria que priorizássemos</p>
</section>
<section class="download__cards">
  <app-download-cards
  [cardInfo]="{
    imageSrc: '../../assets/images/logo-chrome.svg',
    cardTitle: 'Adicionar Chrome',
    cardText: 'Versão mínima 62',
    cardLink: 'https://www.google.com/intl/pt-BR/chrome/',
    buttonText: 'Adicionar e instalar Chrome'
  }"
  ></app-download-cards>
  <app-download-cards
  [cardInfo]="{
    imageSrc: '../../assets/images/logo-firefox.svg',
    cardTitle: 'Adicionar Firefox',
    cardText: 'Versão mínima 55',
    cardLink: 'https://www.mozilla.org/pt-BR/firefox/new/',
    buttonText: 'Adicionar e instalar Firefox'
  }"
  ></app-download-cards>
  <app-download-cards
  [cardInfo]="{
    imageSrc: '../../assets/images/logo-opera.svg',
    cardTitle: 'Adicionar Opera',
    cardText: 'Versão mínima 46',
    cardLink: 'https://www.opera.com/pt-br',
    buttonText: 'Adicionar e instalar Opera'
  }"
  ></app-download-cards>
</section>
