<section class="contact__section">
  <img src="../../assets/images/logo-bookmark-footer.svg" alt="" class="section__img">
  <ul class="section__list">
    <a href="#features" class="list__link">
      <li class="list__item">Características</li>
    </a>
    <a href="" class="list__link">
      <li class="list__item">Preços</li>
    </a>
    <a href="https://www.linkedin.com/in/felipepliima/" target="_blank" class="list__link">
      <li class="list__item">Contato</li>
    </a>
  </ul>
  <div class="section__social">
    <img class="social__img" src="../../assets/images/icon-facebook.svg" alt="Icone do Facebook">
    <img class="social__img" src="../../assets/images/icon-twitter.svg" alt="Icone do Twitter">
  </div>
</section>
