<div class="manager__imgs">
  <img class="imgs__img" src="../../assets/images/illustration-hero.svg" alt="">
  <div class="imgs__bottom"></div>
</div>
<section class="manager__text">
  <h1>Um gerenciador de bookmark</h1>
  <p>Uma interface limpa e simples para organizar seus sites favoritos. Abra uma nova guia do navegador e veja seus sites carregarem instantaneamente, Experimente gratuitamente</p>
  <div class="text__btns">
    <a href="https://www.google.com/intl/pt-BR/chrome/" target="_blank">
      <button class="btn__chrome">Acessar Chrome</button>
    </a>
    <a href="https://www.mozilla.org/pt-BR/firefox/new/" target="_blank">
      <button class="btn__firefox">Acessar Firefox</button>
    </a>
  </div>
</section>
