<div class="manager__imgs">
  <img class="imgs__img" src="../../assets/images/illustration-hero.svg" alt="">
  <div class="imgs__bottom"></div>
</div>
<section class="manager__text">
  <h2>Um gerenciador de bookmark</h2>
  <p>Uma interface limpa e simples para organizar seus sites favoritos. Abra uma nova guia do navegador e veja seus sites carregarem instantaneamente, Experimente gratuitamente</p>
  <div class="text__btns">
    <button class="btn__chrome">Abrir Chrome</button>
    <button class="btn__firefox">Abrir Firefox</button>
  </div>
</section>
