.manager__imgs {
     position: relative;

     .imgs__img {
          position: relative;
          z-index: 2;
          width: 85%
     }

     .imgs__bottom {
          z-index: 1;
          position: absolute;
          top: 44px;
          right: 0;
          border-bottom-left-radius: 100px;

          height: 85%;
          width: 75%;
          background-color: #4D61D2;
     }

}

.manager__text {
     margin-top: 4rem;
     padding: 0 2rem;

    h1 {
      font-size: 32px;
      font-weight: 500;
      color: hsl(229, 31%, 21%);
      line-height: 2.5rem;
    }

    p {
    margin: 1rem 0 2rem 0;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    line-height: 1.4rem;
    }

    .text__btns {
      button {
        height: 42px;
        width: 132px;
        border: none;
        border-radius: 5px;

        font-size: 16px;
      }

      .btn__chrome {
        margin-right: .5rem;
        background-color: #5366DE;
        color: #fff;
        box-shadow: -2px 5px 14px 0px rgba(0,0,0,0.1),
        inset 0px 0px 18px 0px rgba(128,128,128,0.1);
      }

      .btn__firefox {
        margin-left: .5rem;
        background-color: #F7F7F5;
        color: hsl(229, 31%, 21%);
        box-shadow: -2px 5px 14px 0px rgba(0,0,0,0.1),
        inset 0px 0px 18px 0px rgba(128,128,128,0.1);
      }
    }
}

