<section class="question__section">
  <h2 class="question__title">Perguntas Frequentes</h2>
  <p class="question__text">Aqui estão algumas de nossas perguntas frequentes. Se você tiver qualquer outra pergunta, por favor, sinta-se livre para nos enviar um e-mail</p>
</section>
<section class="question__questions-list">
  <ul class="questions-list__list">
    <li class="list__answer" *ngFor="let question of questions">
      <div class="answer__question-content" (click)="showAnswer(questions.indexOf(question))">
        <p class="question-content__text">{{ question.title }}</p>
        <img class="question-content__img"
            src="{{ getImageSrc(questions.indexOf(question)) }}"
            [ngStyle]="{ 'transform': isClickedList[questions.indexOf(question)] ? 'rotate(180deg)' : 'rotate(0deg)' }"
            alt=""
        >
      </div>
      <div class="answer__content-answer" [ngStyle]="{ 'display': isClickedList[questions.indexOf(question)] ? 'block' : 'none' }">
        <p class="content-answer__text">{{ question.answer }}</p>
      </div>
    </li>
  </ul>
</section>
<div class="question__btn">
  <button class="btn__button">Mais Informações</button>
</div>
