.question__section {
  padding: 0 2rem;

  .question__title {
    font-size: 24px;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
  }

  .question__text {
      margin: 1rem 0 2rem 0;

      color: hsl(229, 8%, 60%);
      line-height: 1.4rem;
  }
}

.question__questions-list {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  .questions-list__list {
    width: 82%;

    .list__answer {
      border-bottom: 1px solid hsl(229, 8%, 60%);

      .answer__question-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 2rem 0;

        .question-content__text {
          text-align: left;
          font-weight: 500;
          color: hsl(229, 31%, 21%);
        }

        .question-content__img {
          width: 16px;
          height: 11px;
          transition: .5s;
        }
      }

      .answer__content-answer {
        display: none;
        margin-bottom: 2rem;
        text-align: left;
        color: hsl(229, 8%, 60%);
      }
    }
  }
}

.question__btn {
  margin: 3rem 0 6.625rem 0;

  .btn__button {
    font-size: 16px;
    font-weight: 500;
    width: 40%;
    height: 42px;
    background-color: #5366DE;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 18px 0px rgba(128, 128, 128, 0.1);
  }
}
