main {
  app-manager {
    display: inline-block;
    text-align: center;
    padding: 34px 0 0 0;
    margin-bottom: 7rem;
  }

  app-features, app-download, app-question {
    text-align: center;
  }
}

@media screen and (min-width: 1200px){
  main {
    app-manager {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
